@import url('../icomoon/style.css');
html, body {
    font-family: serif;
}
body {
    margin: 20px;
    background-color: rgb(228, 228, 228);
    height: 2000px;
}
input[type="number"]{
    width: 80px;
}

#field {
    position: relative;
    width: 250px;
    height: 134px;
    border: 10px solid black;
    background-color: #00FF00;
    overflow: hidden;
}
#ball {
    position: absolute;
    left: 0;
    top: 0;
    /* animation: rotate-ball .75s; */
    transition: .9s;
}
@keyframes rotate-ball {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-in;
    }
    30% {
        transform: rotate(90deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(280deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(360deg);
        animation-timing-function: linear;
    }
}

.menu__title {
    font-size: 1.3rem;
    font-weight: bold;
}
.icon-circle-right {
    display: inline-block;
    margin-right: 8px;
    transition: .15s ease-out;
    transform: translateY(2px);
}
.icon-circle-right_rotation {
    transform: translateY(2px) rotate(90deg);
    text-shadow: 1px 0px 2px #da0ef0;
}
.menu__title > .icon-circle-right:before {
    color: #da0ef0;
    font-size: 19px;
}
.menu__list {
    display: none;
    opacity: 0;
    margin-top: 5px;
    font-size: 1.2rem;
    transition: .35s;
}
.menu__list-show {
    display: block;
}

.messages__message {
    position: relative;
    padding: 12px 20px 25px;
    max-width: 500px;
    min-height: 130px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-top: 3px solid rgb(92, 41, 231);
    background-color: rgb(207, 196, 239);
    transition: .3s ease-out;
}
.messages__message-hide {
    opacity: 0;
    min-height: 0;
    height: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.messages__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.messages__close {
    position: absolute;
    right: 5px;
    top: 4px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(161, 20, 55);
    transition: .3s;
    cursor: pointer;
}
.messages__close:hover{
    text-shadow: 0 0 2px rgb(161, 20, 55);
}


.slider {
    position: relative;
    width: 398px;
    padding: 10px 40px;
    border: 1px solid gray;
    background-color: #beeac0;
    border-radius: 5px;
}

.slider__left-button,
.slider__right-button {
    position: absolute;
    display: inline-block;
    font-size: 1.5rem;
    transition: .2s ease-out;
    cursor: pointer;
}
.slider__left-button:hover,
.slider__right-button:hover {
    text-shadow: 0 0 3px black;
}
.slider__left-button {
    left: 10px;
    top: 42%;
}
.slider__right-button {
    right: 10px;
    top: 42%;
}
.slider__gallery {
    width: 390px;
    overflow: hidden;
}
.slider__spread {
    width: 5000px;
    transition: .3s ease-in-out;
}
.slider__slide {
    display: inline-block;
    float: left;
}

